.navbar{
    background-color: rgb(193, 255, 148, 100);
    min-height: 100px;
}

.navbar__menu{
    margin: 16px;
}

.navbar__category{
    margin-top: 25px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;

}